CMISDongBo/Web References/WebReference/Service_CCDC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDSONG_DSKHANG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDSONG_DSKHANGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LDSONG_DSKHANGResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDSONG_DSDDO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDSONG_DSDDOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LDSONG_DSDDOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TreoMoi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TreoMoiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DongBo_TreoMoiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TreoMoiKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TreoMoiKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DongBo_TreoMoiKHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_ThaoXuong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_ThaoXuongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DongBo_ThaoXuongResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_ThaoXuongKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_ThaoXuongKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DongBo_ThaoXuongKHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TrongKho">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_NGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DongBo_TrongKhoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DongBo_TrongKhoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DSCToTonkho181">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_TUNGAY" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="_DENNGAY" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DSCToTonkho181Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_DSCToTonkho181Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DSCToTonkho182">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DVQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_KHO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_THANG" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_NAM" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DSCToTonkho182Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_DSCToTonkho182Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LDSONG_DSKHANGSoapIn">
    <wsdl:part name="parameters" element="tns:LDSONG_DSKHANG" />
  </wsdl:message>
  <wsdl:message name="LDSONG_DSKHANGSoapOut">
    <wsdl:part name="parameters" element="tns:LDSONG_DSKHANGResponse" />
  </wsdl:message>
  <wsdl:message name="LDSONG_DSDDOSoapIn">
    <wsdl:part name="parameters" element="tns:LDSONG_DSDDO" />
  </wsdl:message>
  <wsdl:message name="LDSONG_DSDDOSoapOut">
    <wsdl:part name="parameters" element="tns:LDSONG_DSDDOResponse" />
  </wsdl:message>
  <wsdl:message name="DongBo_TreoMoiSoapIn">
    <wsdl:part name="parameters" element="tns:DongBo_TreoMoi" />
  </wsdl:message>
  <wsdl:message name="DongBo_TreoMoiSoapOut">
    <wsdl:part name="parameters" element="tns:DongBo_TreoMoiResponse" />
  </wsdl:message>
  <wsdl:message name="DongBo_TreoMoiKHSoapIn">
    <wsdl:part name="parameters" element="tns:DongBo_TreoMoiKH" />
  </wsdl:message>
  <wsdl:message name="DongBo_TreoMoiKHSoapOut">
    <wsdl:part name="parameters" element="tns:DongBo_TreoMoiKHResponse" />
  </wsdl:message>
  <wsdl:message name="DongBo_ThaoXuongSoapIn">
    <wsdl:part name="parameters" element="tns:DongBo_ThaoXuong" />
  </wsdl:message>
  <wsdl:message name="DongBo_ThaoXuongSoapOut">
    <wsdl:part name="parameters" element="tns:DongBo_ThaoXuongResponse" />
  </wsdl:message>
  <wsdl:message name="DongBo_ThaoXuongKHSoapIn">
    <wsdl:part name="parameters" element="tns:DongBo_ThaoXuongKH" />
  </wsdl:message>
  <wsdl:message name="DongBo_ThaoXuongKHSoapOut">
    <wsdl:part name="parameters" element="tns:DongBo_ThaoXuongKHResponse" />
  </wsdl:message>
  <wsdl:message name="DongBo_TrongKhoSoapIn">
    <wsdl:part name="parameters" element="tns:DongBo_TrongKho" />
  </wsdl:message>
  <wsdl:message name="DongBo_TrongKhoSoapOut">
    <wsdl:part name="parameters" element="tns:DongBo_TrongKhoResponse" />
  </wsdl:message>
  <wsdl:message name="get_DSCToTonkho181SoapIn">
    <wsdl:part name="parameters" element="tns:get_DSCToTonkho181" />
  </wsdl:message>
  <wsdl:message name="get_DSCToTonkho181SoapOut">
    <wsdl:part name="parameters" element="tns:get_DSCToTonkho181Response" />
  </wsdl:message>
  <wsdl:message name="get_DSCToTonkho182SoapIn">
    <wsdl:part name="parameters" element="tns:get_DSCToTonkho182" />
  </wsdl:message>
  <wsdl:message name="get_DSCToTonkho182SoapOut">
    <wsdl:part name="parameters" element="tns:get_DSCToTonkho182Response" />
  </wsdl:message>
  <wsdl:portType name="Service_CCDCSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSKHANG">
      <wsdl:input message="tns:LDSONG_DSKHANGSoapIn" />
      <wsdl:output message="tns:LDSONG_DSKHANGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSDDO">
      <wsdl:input message="tns:LDSONG_DSDDOSoapIn" />
      <wsdl:output message="tns:LDSONG_DSDDOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoi">
      <wsdl:input message="tns:DongBo_TreoMoiSoapIn" />
      <wsdl:output message="tns:DongBo_TreoMoiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoiKH">
      <wsdl:input message="tns:DongBo_TreoMoiKHSoapIn" />
      <wsdl:output message="tns:DongBo_TreoMoiKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuong">
      <wsdl:input message="tns:DongBo_ThaoXuongSoapIn" />
      <wsdl:output message="tns:DongBo_ThaoXuongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuongKH">
      <wsdl:input message="tns:DongBo_ThaoXuongKHSoapIn" />
      <wsdl:output message="tns:DongBo_ThaoXuongKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DongBo_TrongKho">
      <wsdl:input message="tns:DongBo_TrongKhoSoapIn" />
      <wsdl:output message="tns:DongBo_TrongKhoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho181">
      <wsdl:input message="tns:get_DSCToTonkho181SoapIn" />
      <wsdl:output message="tns:get_DSCToTonkho181SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho182">
      <wsdl:input message="tns:get_DSCToTonkho182SoapIn" />
      <wsdl:output message="tns:get_DSCToTonkho182SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_CCDCSoap" type="tns:Service_CCDCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSKHANG">
      <soap:operation soapAction="http://tempuri.org/LDSONG_DSKHANG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSDDO">
      <soap:operation soapAction="http://tempuri.org/LDSONG_DSDDO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoi">
      <soap:operation soapAction="http://tempuri.org/DongBo_TreoMoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoiKH">
      <soap:operation soapAction="http://tempuri.org/DongBo_TreoMoiKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuong">
      <soap:operation soapAction="http://tempuri.org/DongBo_ThaoXuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuongKH">
      <soap:operation soapAction="http://tempuri.org/DongBo_ThaoXuongKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TrongKho">
      <soap:operation soapAction="http://tempuri.org/DongBo_TrongKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho181">
      <soap:operation soapAction="http://tempuri.org/get_DSCToTonkho181" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho182">
      <soap:operation soapAction="http://tempuri.org/get_DSCToTonkho182" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_CCDCSoap12" type="tns:Service_CCDCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSKHANG">
      <soap12:operation soapAction="http://tempuri.org/LDSONG_DSKHANG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LDSONG_DSDDO">
      <soap12:operation soapAction="http://tempuri.org/LDSONG_DSDDO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoi">
      <soap12:operation soapAction="http://tempuri.org/DongBo_TreoMoi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TreoMoiKH">
      <soap12:operation soapAction="http://tempuri.org/DongBo_TreoMoiKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuong">
      <soap12:operation soapAction="http://tempuri.org/DongBo_ThaoXuong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_ThaoXuongKH">
      <soap12:operation soapAction="http://tempuri.org/DongBo_ThaoXuongKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DongBo_TrongKho">
      <soap12:operation soapAction="http://tempuri.org/DongBo_TrongKho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho181">
      <soap12:operation soapAction="http://tempuri.org/get_DSCToTonkho181" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DSCToTonkho182">
      <soap12:operation soapAction="http://tempuri.org/get_DSCToTonkho182" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_CCDC">
    <wsdl:port name="Service_CCDCSoap" binding="tns:Service_CCDCSoap">
      <soap:address location="http://10.53.0.30/serviceccdc/Service_CCDC.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_CCDCSoap12" binding="tns:Service_CCDCSoap12">
      <soap12:address location="http://10.53.0.30/serviceccdc/Service_CCDC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>